<template>
  <b-container>
    <br>
    <h3>About this website:</h3>
    <p>This is a SPA template by <a href="https://twitter.com/henripal">Henri Palacci</a></p>
    <p>All source code is <a href="https://gitlab.com/henripal/webapp_template/">on gitlab</a> and the accompanying blogpost is <a href=""> on my blog!</a></p>
  </b-container>
</template>
