<template>

<b-jumbotron header="NewCo" lead="Making the world a better place through constructing elegant hierarchies for maximum code reuse and extensibility." >
  <p>Disrupt digital media with us.</p>
</b-jumbotron>
</template>

<script>

export default {
  name: 'home',
  methods: {
    showModal() {
    }
  },
  components: {
  }, 
  mounted() {
  }
}
</script>

<style>
.jumbotron {
  height: 100vh !important; 
}
</style>